.card {
    font-family: arial;
    font-size: 25px;
    text-align: center;
    color: black;
    background-color: white;
  }
  .jp { font-size: 40px }
  .win .jp { font-family: "MS Mincho", "ＭＳ 明朝"; }
  .mac .jp { font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro"; }
  .linux .jp { font-family: "Kochi Mincho", "東風明朝"; }
  .mobile .jp { font-family: "Hiragino Mincho ProN"; font-size: 30px }
  table {
  border: 1px solid black;
  border-collapse: collapse;
  }
  td {
  border: 1px solid black;
  }
  table td{
  padding: 10px;
  }
  .nightMode table tr td {border: 1px solid white}
  .polite {color: POLITE_DAY}
  .plain {color: PLAIN_DAY}
  .nightMode .polite {color: POLITE_NIGHT}
  .nightMode .plain {color: PLAIN_NIGHT}
